<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DevOps Project</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
</head>

<body>
  <div class="container">
    <div class="content">
      <h1>Ｓｅｌａ - <a href="https://www.linkedin.com/in/avichay-har-tuv-09601146">ＤｅｖＯｐｓ １０９３</a></h1>

      <p>
        This application is an example of Denis Romanovskyi project
      </p>

    </div>

    <div class="links">
      <a href="https://www.instagram.com/denisromanovskyi/" target="_blank"
        rel="noopener noreferrer"><strong>Instagram</strong>
        <span>@denisromanovskyi</span>
      </a>
      <a href="www.linkedin.com/in/denis-romanovskyi-4b386b23a" target="_blank"
        rel="noopener noreferrer"><strong>LinkedIn</strong>
        <span>DevOps engineer</span>
      </a>
      <a href="https://www.digitalocean.com/docs/app-platform/" target="_blank" rel="noopener noreferrer"><strong>Data</strong><span>Simple example with gifts</span></a>
      <a href="https://www.digitalocean.com/docs/droplets/how-to/" target="_blank" rel="noopener noreferrer"><strong>App
          Platform API Documentation</strong>
        <span>REST API Documentation for App Platform</span>
      </a>
    </div>
  </div>

  <div id="stripes">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 50px;
      min-height: 100vh;
      position: relative;
      color: #fff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 19px;
      background: #fff; /* Added a white background color */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Almarai", sans-serif;
    }

    :root {
      --first: #53f;
      --second: #4553ff;
      --third: #4f40ff;
      --fourth: #25ddf5;
      --fifth: #1fa2ff;
    }

    #stripes {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100vw;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr);
      transform: skewY(-12deg);
      transform-origin: 0;
    }

    #stripes span {
      /* border: 1px solid #c00c00; */
    }

    #stripes span:first-child {
      grid-column: span 1;
      background: var(--first);
    }

    #stripes span:nth-child(2) {
